/*Root styles */
:root {
  --base-scale: calc(100vw / 120);
  --scale_text_2: max(1em, min(4em, calc(var(--base-scale) * 4)));
  --scale_text_3: max(1em, min(4em, calc(var(--base-scale) * 2.5)));
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

body {
  position: static;
  height: 90%;
  width: 98%;
  margin: auto;

  background-color: #fdd090;
}
h2 {
  font-size: var(--scale_text_2);
  text-align: center;
  justify-content: center;
}
button {
  cursor: pointer;
}
/* CSS for new_game/html/*/
input {
  border: 5px solid #3f170b;
  border-radius: 42px;
  text-align: center;
  font-size: var(--scale_text_3);
  background: #f9f0da;
  transition: 0.3s linear;
}
table,
th,
td {
  width: 40%;
  height: 50%;
  font-size: var(--scale_text_3);
  margin: auto;
  border: 1px solid black;
}

.connect button {
  display: block;
  margin: auto;
  height: 0%;
  width: 100%;
  min-width: 120px;
  min-height: 75px;
  border: 5px solid #3f170b;
  border-radius: 8% / 15%;
  padding-top: 55%;
  background: url("/static/img/door_closed.jpg") center no-repeat;
  background-size: 100% 100%;
  color: #fff;
  transition-duration: 0.4s;
}

.connect button:hover {
  background: url("/static/img/door_2.jpg") center no-repeat;
  background-size: 100% 100%;
}

.container {
  width: 100%;
  border: 2px solid black;
}
#main-container {
  border: 2px solid yellow;
  height: 100%;
}

.connect {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid green;
  width: 100%;
}

figure {
  display: inline-block;
  border: 1% solid #3f170b;
  width: 30%;
  max-height: -moz-fit-content;
}

.connect figcaption {
  min-width: 120px;
  padding: 3px;
  font-size: var(--scale_text_2);
  text-align: center;
  color: #3f170b;
}

/* CSS for new_game/html */

.tooltip {
  position: relative;
  display: inline-block;
  border: 5px solid #3f170b;
  border-left: none;
  border-radius: 0 42px 42px 0;
  background: url("/static/img/thief.png") center no-repeat;
  background-size: 60% 100%;
  width: 10%;
  min-width: 90px;
}

.input_wrapper {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}
.id_input {
  border-radius: 42px 0 0 42px;
  min-width: 200px;
  padding: 25px;
  width: 70%;
}
.paste_btn {
  border: 5px solid #3f170b;
  border-left: none;
  border-radius: 0 42px 42px 0;
}
.player_name {
  display: block;
  margin: 0 auto;
  padding: 15px;
  width: 50%;
  min-width: 250px;
}

.radio {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: var(--scale_text_2);
  margin: 20px 0;
}
.radio input {
  display: flex;
  align-items: center;
  width: 27%;
  min-height: 60px;
  min-width: 120px;
  appearance: none;
  outline: none;
  cursor: pointer;
  border: 5px solid #3f170b;
  border-radius: 42px;
  padding: 4px 8px;
  background: #fdd090;
  color: #3f170b;
  font-size: var(--scale_text_3);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  transition: all 100ms linear;
}

.radio input:checked {
  background-image: linear-gradient(180deg, #3f170ba9, #3f170b);
  color: #fdd090;
  box-shadow: 0 1px 1px #0000002e;
  text-shadow: 0 1px 0px #79485f7a;
}

.radio input:hover {
  background-image: linear-gradient(180deg, #fcfcfc94, #3f170b80);
  color: #fdd090;
  box-shadow: 0 1px 1px #0000002e;
  text-shadow: 0 1px 0px #79485f7a;
}
.radio input:before {
  content: attr(label);
  display: inline-block;
  text-align: center;
  width: 100%;
}

.apply_name {
  display: flex;
  width: 30%;
  min-width: 150px;
  min-height: 60px;
  margin: 30px auto;
  transition-duration: 0.4s;

  background-image: linear-gradient(180deg, #3f170bb2, #3f170b);

  border: 5px solid #3f170b;
  border-radius: 42px;
  color: #fdd090;
  align-content: center;
  justify-content: center;
  display: block;
}

.apply_name:hover {
  height: 16%;
  width: 32%;

  font-size: var(--scale_text_3);
  background-image: linear-gradient(180deg, #fcfcfc94, #3f170b);
  color: #fdd090;
  box-shadow: 0 1px 1px #0000002e;
  text-shadow: 0 1px 0px #79485f7a;
}
