{% extends 'base.html' %} {%block main-container%}
<form>
  <div class="input_wrapper">
    <input
      id="IDinput"
      class="id_input"
      name="s"
      value="{{room_id}}"
      type="text"
      readonly
    />

    <button onclick="copyFunc()" class="tooltip">
      <span class="tooltiptext" id="myTooltip">Copy ID</span>
    </button>
  </div>
</form>

<table>
  <tr>
    <th>Player name</th>
    <th>Status</th>
  </tr>
  <tr>
    <td>.</td>
    <td>.</td>
  </tr>
  {% for player in players %}
  <tr>
    <td>{{ player.name}}</td>
    <td>{{player.status}}</td>
  </tr>
  {% endfor %}
</table>

<script>
  function copyFunc() {
    var copyText = document.getElementById("IDinput");
    copyText.select();
    copyText.setSelectionRange(0, 99999);
    document.execCommand("copy");
  }
</script>
{% endblock%}
